/* Slide 1 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #062F4F, #B82601);
}
.section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    pointer-events: none;
}
.game-title {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transform: translateX(-20px);
    background: linear-gradient(90deg, rgba(196, 99, 78, 0.97), rgba(216, 20, 72, 0.81));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.game-title-subline {
    width: 120px;
    height: 6px;
    background: linear-gradient(90deg, rgba(196, 99, 78, 0.97), rgba(216, 20, 72, 0.81));
    transform: translateX(-20px);
    margin: 10px auto;
    border-radius: 3px;
}
.input-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 100px; /* rectangular scale */
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1000px;
    text-align: center;
    box-sizing: border-box;
    pointer-events: auto;
}
 h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #062F4F;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}
input:focus {
    border-color: #813772;
    box-shadow: 0 0 10px rgba(129, 55, 114, 0.5);
}
button {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(135deg, #813772, #B82601);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(90, 85, 78, 0.2);
}

button:hover {
    background: linear-gradient(135deg, #B82601, #813772);
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(184, 38, 1, 0.8);
}
button:active {
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(90, 85, 78, 0.2);
}

.flash-message {
    position: fixed;
    top: 10%;
    left: 49%;
    transform: translateX(-50%);
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.flash-message.success {
    background: rgba(3, 81, 3, 0.9);
    color: white;
}

.flash-message.error {
    background: rgba(184, 38, 1, 0.9);
    color: white;
}
.flash-message.show {
    opacity: 1;
    visibility: visible;
}
.error {
    color: #B82601;
    font-size: 16px;
    margin-top: 20px;
}

/* Slide 2 */
@keyframes dot-blink {
    0%, 20% {
        opacity: 0.3;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0.3;
        transform: scale(0.8);
    }
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

#loading-indicator {
    text-align: center;
    margin-bottom: 30px;
}

#loading-indicator p {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #e66e5c;
}

#agent-display-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 80%;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
    display: none; /* Hidden by default */
}

#loading-indicator div {
    margin-top: 20px; /* Add some space between text and dots */
}

.dot {
    display: inline-block;
    width: 40px; /* Width */
    height: 40px; /* Height */
    margin: 0 5px;
    background-color: #c39786;
    border-radius: 50%;
    animation: dot-blink 1.5s infinite ease-in-out;
}

#tooltip {
    position: fixed; /* Fixed positioning to ensure it's not clipped */
    background: rgba(199, 85, 85, 0.72); /* Semi-transparent black background */
    color: #fff; /* White text */
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 150px; /* Limit width */
    white-space: normal;
    word-wrap: break-word;
    z-index: 999999; /* High z-index to prevent overlap issues */
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: auto;
}

#agent-display {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    overflow: visible; /* Allow ChildElement overflow */
}

#agent-display div {
    text-align: center;
    margin: 10px;
    position: relative;
}

#agent-display img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #c64c4c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
    pointer-events: auto;
}

#agent-display img:hover {
    outline: 1px solid #a18df0;
    cursor: pointer;
}

#agent-display p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

#start-game-button {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
    display: none;
}

#start-game-button.enabled {
    cursor: pointer;
    opacity: 1;
}

#start-game-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#start-game-button.enabled:hover {
    background: linear-gradient(135deg, #B82601, #813772);
    box-shadow: 0 0 15px rgba(184, 38, 1, 0.8);
}