<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who is the Undercover</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.12/fullpage.min.css">
</head>

<body>

    <div id="agent-display-container" style="display: none;">
       <div id="agent-display"></div>
    </div>

    <div id="fullpage">
        <!-- Slide 1: Enter Name and Join Game -->
        <div class="section">
            <div class="game-title">Who is the Undercover</div>
            <div class="game-title-subline"></div>
            <div class="input-container">
                <h1>Enter Your name</h1>
                <input type="text" id="player-name" placeholder="I want to play as ...">
                <button onclick="joinGame()">Join Game</button>
                <p id="error-message" class="error"></p>
            </div>
        </div>

        <!-- Slide 2: Join Success and wait for initialization-->
        <div class="section">
           <div id="loading-indicator">
               <p> Waiting for Agents</p>
               <div>
                   <span class="dot"></span>
                   <span class="dot"></span>
                   <span class="dot"></span>
               </div>
           </div>

           <div id="game-actions">
               <button id="start-game-button" onclick="startGame()" disabled>Start Game</button>
           </div>
        </div>

        <!-- Slide 3: Gameplay -->
        <div class="section">
            <div id="current-player-word" class="player-word-container">
                <span class="word-label">Your Word:</span>
                <p id="player-word">[Player's Word]</p>
            </div>

            <div class="description-input-container" style="display: none;">
                <input type="text" id="description-input" placeholder="Enter your description..." />
                <button id="submit-description-button" onclick="submitDescription()" class="submit-button">
                    &#10003;
                </button>
            </div>

            <div id="description-log-container">
                <h3>Player Descriptions</h3>
                <ul id="description-log"></ul>
            </div>
        </div>

    </div>

    <div id="flash-message" class="flash-message">message</div>
    <div id="tooltip" class="tooltip"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.12/fullpage.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script> <!-- MUST first load the Socket.IO client library before loading script files (script.js) -->
</body>
</html>